[submodule "artifacts"]
	path = nvim/pack/bundle/opt/artifacts
	url = https://github.com/ms-jpq/coq.artifacts
[submodule "coq"]
	path = nvim/pack/bundle/opt/coq
	url = https://github.com/ms-jpq/coq_nvim
[submodule "lspconfig"]
	path = nvim/pack/bundle/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "zsh-autosuggestions"]
	path = .zsh/plugin/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
	path = .zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "nvim/pack/bundle/opt/command-t"]
	path = nvim/pack/bundle/opt/command-t
	url = https://github.com/wincent/command-t
