[submodule "compe"]
	path = nvim/pack/bundle/opt/compe
	url = https://github.com/hrsh7th/nvim-compe
[submodule "lspconfig"]
	path = nvim/pack/bundle/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "treesitter"]
	path = nvim/pack/bundle/opt/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "ultisnips"]
	path = nvim/pack/bundle/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "zsh-autosuggestions"]
	path = .zsh/plugin/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
	path = .zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
