[submodule "coq"]
	path = nvim/pack/bundle/opt/coq
	url = https://github.com/ms-jpq/coq_nvim
[submodule "lspconfig"]
	path = nvim/pack/bundle/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "treesitter"]
	path = nvim/pack/bundle/opt/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "zsh-async"]
	path = .zsh/plugin/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule "zsh-autosuggestions"]
	path = .zsh/plugin/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
	path = .zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
